<a href="https://colab.research.google.com/github/mpazmarcato/CPPCourse/blob/main/Copy_of_Aula_1_Introdu%C3%A7%C3%A3o_%C3%A0_Linguagem_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1- Introdução à Linguagem Python

Objetivo: apresentação das funcionalidades básicas da linguagem Python


Conteúdo:
- Entrada e saída de dados
- Variáveis básicas

Esta é uma introdução aos conceitos básicos de Python. Saiba como usar o Python de forma interativa e através de um script. Crie suas primeiras variáveis e familiarize-se com os tipos básicos de dados do Python.

## Entrada e Saída de Dados em Python

In [ ]:
# Comentário em Python
# Imprimir mensagem em Python
print("Alô, mundo!")

Alô, mundo!

In [ ]:
print("Quem é esta aluna que acabou de chegar?")
print("É a Carol.")

Quem é esta aluna que acabou de chegar?
É a Carol.

In [ ]:
print("Qual é o seu nome? ")
nome = input()
print("Olá " + nome + ", tudo bem?")

Qual é o seu nome?
Carol
Olá Carol, tudo bem?

### Crie um programa que:
- Pegunte o nome da pessoa e sua profissão.

- Responda com uma mensagem positiva.

Exemplo: João, a profissão de Professor é muito importante

In [ ]:
# Escreva o codigo aqui:

print("Qual é o seu nome?")
nome = input()
print("Qual é a sua profissão?")
profissao = input()
print(nome + ", a tua profissão de " + profissao + " é muito importante")

Qual é o seu nome?
La
Qual é a sua profissão?
La
La, a tua profissão de La é muito importante

### Exercício 01:
 Escreva um programa baseado na anterior que pergunte o nome e sobrenome do usário, além do seu hobby. Então responda com um comentário positivo.

In [ ]:
# Exercício 01 - Escreva o código aqui

### Usando Python como uma calculadora
- Basta escrever as operações.

In [ ]:
a = 2
a

2

In [ ]:
a = 2/3
a

0.6666666666666666

In [ ]:
print(5 / 8)
print(3 * 5)
print(7 + 10)
5 -2

0.625
15
17

3

In [ ]:
(4+2*2)/8

1.0

## Operadores Lógicos:
    - AND --> &  and
    - OR --> | or
    - NOT

In [ ]:
# Exemplo de uso de operadores lógicos

a = True
b = False
print(a and b)
print (a & b)
print (a or b)
print (a | b)
print(not a)

False
False
True
True
False

In [ ]:
# Outro exemplo
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
# Outro exemplo
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
print(not True)
print( not False)
print(not not False)
print(not not not False)
print(not not not not False)
print(not not not not not False)

False
True
False
True
False
True

In [ ]:
a= True
b = False
c = True

resposta = (a or b) and c
print(resposta)

True

In [ ]:
# Desafio
a= True
b = False
c = True
d= True
e = True
resposta = (a or b) and ((c and d) or e)
print(resposta)

True

In [ ]:
# Exemplo de uso de operadores lógicos
# Escolha do namorado(a) ideal

nome = "João"
# nome = "Maria"
alto = True
bonito = True
malhado = True
rico = True
divertido = True
careca = True

namorado_ideal = alto and bonito and malhado and rico and divertido and not careca

print(nome, "é um namorado ideal?")
print("Resposta: ", namorado_ideal)

# construa a sua lógica de namorado(a) possível

namorado_possivel = rico
print(nome, "é um namorado possível?")
print("Resposta: ", namorado_possivel)

João é um namorado ideal?
Resposta:  False
João é um namorado possível?
Resposta:  True

In [ ]:
# Exemplo de uso do print - outra maneira
print ("a = %d b = %d" % (10 ,20))
print("Alô, mundo", "Estou estudando Python", "tenho", 24, "anos")

a = 10 b = 20
Alô, mundo Estou estudando Python tenho 24 anos

O Python é perfeitamente adequado para fazer cálculos básicos. Além da adição, subtração, multiplicação e divisão, também há suporte para operações mais avançadas, tais como:
- Exponenciação: **.
   - Este operador eleva o número à esquerda para o poder do número à sua direita. Por exemplo, 4 ** 2 dará 16.
- Modulo:%. Este operador retorna o restante da divisão do número à esquerda pelo número à direita. Por exemplo, 18% 7 é igual a 4.
- Divisão inteira: //
   - 3/2, dará 1.

In [ ]:
# Exemplo de uso da Exponenciação
print(4 ** 2)

# Exemplo de Divisão Inteira
print((19+1) // 4)

# Exemplo de resto da divisão
print((19+1) % 4)

16
5
0

In [ ]:
# Exemplo de uso de operadores
print("Se você tomou um empréstimo de R$1.000,00 com taxa de juros de 20% ao ano, após 04 anos qual é o valor de sua dívida?")
emprestimo = 1000.0
taxa = 0.2
anos = 4
divida = emprestimo *(1+taxa)**anos
print("Minha dívida é de ", divida, "reais, depois de ", anos,"anos." )

Se você tomou um empréstimo de R$1.000,00 com taxa de juros de 20% ao ano, após 04 anos qual é o valor de sua dívida?
Minha dívida é de  2073.6 reais, depois de  4 anos.

In [ ]:
# Exercício 02: escreva o código aqui
# O aluno João Medeiros, aplicou R$2.0000,00 na bolsa de valores durante 03 anos.
# No primeiro ano ele teve um lucro de 20%.
# No segundo ano ele teve um prejuízo de 8%
# No terceiro ano ele teve um lucro de 4%
# Calcule o valor em reais que ele obteve no final do terceiro ano.

valor_inicial = 2000
valor_ano1 =
valor_ano2 =
valor_ano3 =
lucro = valor_ano3 - valor_inicial
print(lucro)

1500

## Variáveis e Tipos em Python
- Em Python, uma variável permite que você se refira a um valor com um nome. Para atribuir um valor a  uma variável use =, como este exemplo:

x = 5

Agora você pode usar o nome dessa variável, x, em vez do valor real, 5.

Lembre-se, = em Python significa atribuição, não igualdade!

In [ ]:
x=5
print(x)
y = 3
print(y)

5
3

In [ ]:
x = 5
print(x)
X = 10
print(X)
valor = 10
Valor = 11
vAlor = 12
VALOR = 13
print("\t", valor,"\n", "\n",Valor, "\n",vAlor, "\n", VALOR)

5
10
	 10

 11
 12
 13

In [ ]:
# Diferença entre atribuição e comparação
x = 6 +1
print( x == 6)

False

In [ ]:
#Exemplo - Diferença entre maiúsculo e minúsculo
x = 1
X = 2

print("Python diferencia entre letras maiúsculas e minúsculas?")
print("Qual é o valor da variável x?")
print("A variável x é igual a ", x)
print("Qual é o valor da variável X?")
print("A variável X é igual a ", X)

Python diferencia entre letras maiúsculas e minúsculas?
Qual é o valor da variável x?
A variável x é igual a  1
Qual é o valor da variável X?
A variável X é igual a  2

In [ ]:
# Exercício 03
print("Reescreva o Exercício 02 utilizando variáveis")
valor =
taxa_juros =
anos =
dívida =
print(divida)

SyntaxError: invalid syntax (2068126882.py, line 3)

In [ ]:
# Exercício 04
# Verifique a fómula do IMC na Internet

print("Calcule o Índice de Massa Copórea (IMC)")

# Entre com o valor do pese do usuário
 ???

# Entre com o valor da altura em metros do usuário

???

# cálculo do IMC
IMC = ????

print("O Seu IMC é: " + IMC)

IndentationError: unexpected indent (3686656228.py, line 7)

### Tipos de vaiáveis em Python

Os tipos das variáveis são definidos dinamicamente em Python.
- Tipos Básicos em Python
    - int --> Inteiro
    - flot --> ponto flutuante
    - str --> String
    - bool --> Booleano (True, False)

In [ ]:
# Exercício 05
Nome_aluno = "Isabel da Silva"
nota = 9.8
bom_aluno = True
idade = 21

print("Escreva no console os valores dessas variáveis")
# escreva o restante do programa ....

print("A aluna ", Nome_aluno," tem ", idade,"de idade e tirou ", nota, "em programação Python.\n")

Escreva no console os valores dessas variáveis
A aluna  Isabel da Silva  tem  21 de idade e tirou  9.8 em programação Python.

In [ ]:
# Exercício 06
# Analise a resposta desse programa e tire suas conclusões
print("O que ocorre se se somar um int com um float?")
a = 2
b = 1.1
c = a+b
print(c)

O que ocorre se se somar um int com um float?
3.1

In [ ]:
# Exercício 07
# Analise a resposta desse programa e tire suas conclusões
print("O que ocorre se se somar duas strings?")
Nome = "Nathalie" + " " + "Rose"
Sobrenome = "Araújo"
Nome_Completo = Nome + " " + Sobrenome
print(Nome_Completo)
Nome_Completo

O que ocorre se se somar duas strings?
Nathalie Rose Araújo

'Nathalie Rose Araújo'

In [ ]:
# Exercício 09
# Use a função type(variavel) para obter o tipo da variável.
x1 = 1
x2 = "aeiou"
x3 = False
print(type(x1))
print(type(x2))
type(x3)

<class 'int'>
<class 'str'>

bool

### Dica:
Para se converter tipos em outros, em Python se utiliza as seguintes funções:
- str(variavel) <-- converte variavel para string
- int(variavel) <-- converte variavel para inteiro
- float(variavel) <-- converte variavel para ponto flutuante
- bool((variavel) <-- converte variavel para booleano

In [ ]:
# Exercício 10
# Escreva um programa que converta uma variável "idade" que é inteiro  em string.
Idade = 22
Nome = "João "
# A saída de ser --> João tem 22 anos.
print()

### Pergunta:
Quando se lê uma variável via teclado, qual é o seu tipo?

In [ ]:
# Exemplo
# Analise a resposta desse programa e tire suas conclusões

print("entre com uma dado: ")
variavel = input()
print(variavel)
type(variavel)

entre com uma dado:
7
7

str

In [ ]:
# convertendo a variavel para inteiro

variavel = int(variavel)
type(variavel)

int

### Programa desafio 1:

Escreva um programa que solicite por antrada de teclado os seguintes valores de variáveis:
- nome
- altura
-peso

Entao, forneça como saída o nome e o IMC correspondente.

Exemplo:
Maria seu IMC é de 1.62

In [ ]:
# Programa Desafio 1
# Escreva o código aqui código

print("Por obséquio, forneça o seu nome? ")
nome = ????

print("Se não for inoportuno, foneça o seu peso? Prometo menter essa informação em sigilo")
peso = ???


print("Qual é a sua altura? ")
altura = ???

# Cálculo do IMC
IMC = peso /altura**2

# Saída do programa
print(nome, " o seu IMC é ", IMC)

SyntaxError: invalid syntax (1712108121.py, line 5)

In [ ]:
# Curiosidade - execute este programa
"Eu sou " + ("ga")*3 + "go"

'Eu sou gagagago'

In [ ]:
# Curiosidade
print("Teste essas opções abaixo que estão em comentário")
#False + True
#True + True
True * 10
#False - True

Teste essas opções abaixo que estão em comentário

10

### Variável do tipo list
- tipo complexo, que representa uma lista de outras variáveis, não necessariamente de mesmo tipo.
- As variáveis podem ser listas. No caso, teremos listas de listas

Exemplo:

lista1 = [1,2,3]

lista2 = ["Maria", "1.66", 22, True]  #[Nome, Altura, Idade, Boa_estudante]

In [ ]:
lista2 = ["Maria", "1.66", 22, True]
lista2

['Maria', '1.66', 22, True]

In [ ]:
# Lista com variáveis de mesmo tipo
# Áreas dos cômodos de uma casa (em metros quadrados)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Criação da lista areas
areas = [hall, kit, liv, bed, bath]

# Print areas
print(type(areas))
print(areas)

<class 'list'>
[11.25, 18.0, 20.0, 10.75, 9.5]

In [ ]:
# Lista com variáveis de diferentes tipos
# Áreas dos cômodos de uma casa (em metros quadrados)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Criação da lista areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [ ]:
# Lista de Lista
# Áreas dos cômodos de uma casa (em metro quadrado)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# informação sobre metragem da casa como lista de lista
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]
         ]

# Print a variaável house

print(house)

# Print o tipo da variável house

print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [ ]:
# Exercício 11
# Crie 01 lista Familia, que é composta por 04 listas: Pai, Mae, Filho, Filha.
# Essas listas têm as variáveis Nome (str), Idade (int), Peso (float), Altura (float)
#sexo (bool) True-feminino, False-Masculino
Pai = ["João", ]
Mae = ["Maria",]
Filho = ["William",]
Filha = ["Fernanda",]

Familia = [Mae, Pai,Filho,Filha]
print(Familia)

SyntaxError: invalid syntax (3636349988.py, line 5)

Explicação - Acessado elementos de uma lista
- list[n]  --> retorna a variável da posição n. O primeiro índice é o ZERO
- list[n1:n2] --> retorna uma sub-lista da posição n1 até a posição n2-1
- list[:n] --> retorna uma sub-lista da posição ZERO até n-1
- list[n:] --> retorna uma sub-lista da posição n até o final da lista

In [ ]:
# Exemplos de acesso a elementos de listas
# Rode o programa e analise as suas respostas.
lista = [0,1,2,3,4,5]
print(lista[0])
print(lista[2])
#print(lista[7])
print(lista[-1])
print(lista[-2])
print(lista[1:3])
print(lista[1:4])
print(lista[1:2])
print(lista[:3])
print(lista[:])
print(lista[-5:3])
print(lista[-5:1])

0
2
5
4
[1, 2]
[1, 2, 3]
[1]
[0, 1, 2]
[0, 1, 2, 3, 4, 5]
[1, 2]
[]

In [ ]:
#Exercício 12

# Criação da lista areas
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print o segundo elemento da lista
print(areas[???])

# Print o valor do último elemnto da lista
print(areas[???])

# Print o valor da área do living room
print(areas[???])

# Print o valor da área total da casa
print(areas[??]+areas[??]+areas[??])

SyntaxError: invalid syntax (1089403541.py, line 7)

In [ ]:
# Dica
x = [["a", "b", "c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]
print(x[2][0])
print(x[2][:2])
print(x[0][-1],x[1][:2])
x[0][2]+x[0][0]+x[1][0]+x[1][1]

g
['g', 'h']
c ['d', 'e']

'cade'

In [ ]:
#Exercício 13 -
# Dado o Exercício 11.
# Crie uma lista denominada de Nomes que contenha os nomes do Pai, Mae, Filho e Filha da lista Familia

nomes =
nomes

SyntaxError: invalid syntax (1306514989.py, line 5)

In [ ]:
#Exercício 14 -
# Dado o Exercício 11.
# Crie uma lista denominada de Filhos que contenha apenas as informações de Filho e Filha da lista Familia

In [ ]:
#Exercício 15 -
# Dado o Exercício 11.
# Calcule IMC das pessoas da lista Familia.
# Armazene esses valores numa lista denominada de valor_IMC
#????

Modificar elementos de uma lista
- lista[elemento] = novo_valor

Incluir elementos em lista (concatenar duas ou mais listas)
- lista3 = lista1 + lista3

Remover Elementos em Lista
- del(lista[elemento])

In [ ]:
# Exemplo com listas
lista1 = [1,1,1]
lista2 =[2,2,2]
lista3 = lista1 + lista2

In [ ]:
# Exemplo com lista - continuação
print("lista3: ", lista3)
print("lista3[2]: ", lista3[2])

# remover um elemento da lista3
del(lista3[2:4])
print("lista3: ", lista3)
print("lista3[2]: ", lista3[2])

lista3:  [1, 1, 1, 2, 2, 2]
lista3[2]:  1
lista3:  [1, 1, 2, 2]
lista3[2]:  2

In [ ]:
# Exercício 16
# Remova pela ordem a string "poolhouse" e o valor de sua área
areas = ["hallway", 11.25, "kitchen", 18.0,
        "child zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]
del(areas[???])
#del(areas[10])
print(areas)

SyntaxError: invalid syntax (2879374387.py, line 7)

In [ ]:
# Exercício 17
# Dado o Exercício 11
# Inclua mais um filho, denominado Filho2 na lista Familia

?????

print(Familia)

Object `???` not found.

NameError: name 'Familia' is not defined

In [ ]:
# Exercício 18
# Dado o Exercício 11
# Remova Filho da lista Familia
# O que ocorre com os índices da lista Familia?

print(Familia)

NameError: name 'Familia' is not defined

In [ ]:
#Exercício 19
# Dado o Exercício 11.
# Calcule IMC das pessoas da lista Familia, e inclua essa informação na lista Família
#????

### Atenção
 - Há difença entre atribuição e cópia de listas.

In [ ]:
# Cópia de lista: diferença entre atribuição e cópia de listas
# Criação de lista
# Rode a analise os resultados deste programa

lista1 = [11.25, 18.0, 20.0, 10.75, 9.50]

# Atribuição e copia de listas
#lista2 = lista1
lista2 = list(lista1)
#lista2 = lista1[:]

# Modificação na lista
lista2[0] = 5.0

# Print lista1
print(lista1)

[11.25, 18.0, 20.0, 10.75, 9.5]